<div class='col-lg-4'>
  <%= f.input :title, label: false, placeholder: 'Title' %>
</div>

<div class='col-lg-4'>
  <%= f.input :deadline, as: :string, label: false, placeholder: 'Deadline', input_html: {data: {task_form_target: 'deadlineInput'}} %>
</div>

<div class='col-lg-4'>
  <%= f.input :duration, label: false, placeholder: 'Duration', input_html: {data: {task_form_target: 'durationInput'}} %>
</div>
