<div class='list-group-item'>
  <div class='row'>
    <div class='col-lg-4'>
      <strong>Title: </strong><%= task.title %>
    </div>

    <div class='col-lg-4'>
      <strong>Deadline: </strong><%= task.deadline.to_formatted_s(:readable_datetime) %>
    </div>

    <div class='col-lg-4'>
      <strong>Duration: </strong>
      <% if task.duration_hours > 0 %>
        <%= pluralize(task.duration_hours, "Hour") %>
      <% end %>

      <% if task.duration_minutes > 0 %>
        <%= pluralize(task.duration_minutes, "Minute") %>
      <% end %>
    </div>
  </div>
</div>
