<div class='list-group-item'>
  <div class='row'>
    <div class='col-lg-4'>
      <strong>Title: </strong><%= task.title %>
    </div>

    <div class='col-lg-4'>
      <strong>Deadline: </strong><%= task.deadline %>
    </div>

    <div class='col-lg-4'>
      <strong>Title: </strong><%= task.duration %>
    </div>
  </div>
</div>
