$primary: #7158e2;

@import '~bootstrap/scss/bootstrap';
@import "notyf/notyf.min";
@import "~flatpickr/dist/flatpickr";

body {
  background-color: #f2f2f2;
}

.center-vertically-row {
  display: flex;
  align-items: center;
}

.center-vertically-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-full-height {
  height: 100%;
}

.task-listing-item {
  height: 40px;
}
